@import "./site.module.css";

.nav-container {
  position: relative;
  width: 96%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  background-color: var(--bg-colour-1);
}

.hr-tag {
  margin: -0.25rem auto;
}

.wrap-title {
  position: relative;
  display: inline-flex;
  margin: auto auto;
  align-items: center;
}
.wrap-title_h1 {
  position: relative;
  margin-left: 0.3125rem;
  display: inline-flex;
  padding-bottom: 1%;
}
.title-h1-anchor {
  width: inherit;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}
.logo, .logo-flip {
  position: relative;
  display: inline-flex;
  width: 2rem;
}

.nav--glow--ani { 
  animation: nav--ani--glow 4s infinite alternate;
}
@keyframes nav--ani--glow {
  from { 
    box-shadow: 0.0625rem 0.0625rem 0.625rem 0.1875rem rgb(105, 105, 134) inset; 
    height: initial;
  }
  to { 
    box-shadow: 0rem 0rem 0rem -0.025rem rgb(105, 105, 134) inset; 
    height: auto;
  }
}

.main-nav {
  position: fixed;
  margin: 1rem auto;
  z-index: 500;
  width: 100%;
}

.nav--up--ani {
  animation-name: nav--up;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes nav--up {
  0% { top: 0; }
  100% { top: -10rem; }
}
.nav--down--ani {
  animation-name: nav--down;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes nav--down {
  0% { top: -10rem; }
  100% { top: 0rem; }
}

.wrap-nav-links{
  position: relative;
  widows: 96%;
  margin: 0.5rem 1rem;
  display: none;
}
 
.nav-btn {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 0.25rem auto auto auto;
  padding: 0.1875rem;
  display: inline-flex;
  align-items: center;
}

.nav-btn_svg {
  width: 2rem;
}

.nav-links--is--closed {
  animation-name: close--nav--links;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  transform-origin: center top;
}
@keyframes close--nav--links {
  0% {
    width: 96%;
    height: 100%;
    opacity: 1;
    margin: 0rem auto 1rem auto;
    transform: scaleX(1);
    transform: scaleY(1);
  }

  75% {
    opacity: 0.01;
  }

  100% {
    width: 0%;
    height: 0%;
    opacity: 0;
    margin: auto auto;
    transform: scaleX(0);
    transform: scaleY(0);
  }
}
.nav-links--is--open {
  animation-name: open--nav--links;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  transform-origin: center top;
}
@keyframes open--nav--links {
  0% {
    width: 0%;
    height: 0%;
    opacity: 0;
    margin: auto auto;
    transform: scaleX(0);
    transform: scaleY(0);
  }

  25% {
    opacity: 0.01;
  }

  100% {
    width: 96%;
    height: 100%;
    opacity: 1;
    margin: 0.5rem auto 1rem auto;
    transform: scaleX(1);
    transform: scaleY(1);
  }
}
/************************ START navDropDown & nddOpenClose animation ******************************/
.nav-drop-downs {
  position: absolute;
  max-width: 12rem;
  background-color: var(--bg-colour-1);
  display: none;
  z-index: 510;
}
.nav-drop-downs_li {
  margin: 1rem auto 1rem auto;
}
.nav-drop-downs_li_a {
  display: block;
  margin: auto auto;
  text-align: center;
}
.ndd--is--closed {
  animation-name: ndd--close;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  transform-origin: center top;
}
@keyframes ndd--close {
  0% {
    width: 12rem;
    height: auto;
    margin-top: 1rem;
    left: calc(50% - 6rem);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    width: 0%;
    height: 0;
    margin-top: -1rem;
    transform: scale(0);
    left: 50%;
    opacity: 0;
  }
}
.ndd--is--open {
  animation-name: ndd--open;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  transform-origin: center top;
}
@keyframes ndd--open {
  0% {
    width: 0%;
    height: 0;
    margin-top: -1rem;
    transform: scale(0);
    left: 50%;
    opacity: 0;
  }

  100% {
    width: 12rem;
    height: auto;
    margin-top: 1rem;
    transform: scale(1);
    left: calc(50% - 6rem);
    opacity: 1;
  }
}
/************************ END navDropDown & ndd--openClose animation ******************************/
 
.nav-links {
  position: relative;
  display: block;
  margin: 1rem 0rem 0rem 0rem;
  background-color: var(--bg-colour-1);
}
/* --- start hover styles <li> and <a>-------*/
a:hover {
  color: var(--a-hover-colour);
  font-weight: normal;
}
.nav-btn:hover,
.login-btn:hover,
li:hover {
  background: linear-gradient( 
    to right,
    var(--navlink-gradient-hov-1) 0%,
    var(--navlink-gradient-hov-2) 50%,
    var(--navlink-gradient-hov-3) 100%
  );
}
  
.nav-btn:active,
.login-btn:active,
li:active {
  background: linear-gradient(
    to right,
    var(--navlink-gradient-active-1) 50%,
    var(--navlink-gradient-active-2) 100%
  );
}
/* --- end  hover styles on <li> and <a>-------*/
  
/*---------login links--------------*/
.wrap-login-links {
  position: relative;
  display: flex;
}

.login-btn_a {
  display: block;
  text-align: center;
  min-width: 9rem;
  line-height: 1.5rem;
}

.center-anchor{
  display: block;
  text-align: center;
}

.down-arrow {
  border: solid black;
  border-width: 0 0.0325rem 0.0325rem 0;
  margin: 0.25rem 0rem 0.25rem 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  transform: rotate(45deg);
}
  
/*--------------------------320px----------------------*/
@media (min-width: 20rem) {
  .wrap-title_h1 {
    font-size: 1.5rem;
  }

  .logo-flip {
    display: none;
  }

  .login-btn {
    margin: 1rem 0rem 0rem 0rem;
  }
  
  .nav-links_li {
    display: inline-flex;
    width: 100%;
    min-height: 1.5rem;
  }

  .nav-links_li_a {
    margin: 1rem auto 1rem auto;
  }
}
/*-------------------------420px------------------------*/
@media (min-width: 26.25rem) {
}
/*--- Nav from desktop to mobile -640px- login links moved with js-------------------*/
@media (min-width: 40rem) {
  .logo,
  .logo-flip {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    margin: auto 1rem;
  }

  .login-btn {
    margin: auto;
  } 

  .nav-links {
    display: inline-flex;
    width: 96%;
    align-content: center;
    margin: 1rem auto;
  }

  /* .nav-links_li {
    display: inline-flex;
    align-content: center;
    width: 100%;
    min-height: 1.5rem;
    text-align: center;
  }

  .nav-links_li_a {
    position: relative;
    align-self: center;
    margin: auto;
  } */
  /*** START ndd--openClose animation ****/
  @keyframes ndd--open {
    0% {
      position: relative;
    }

    1% {
      position: absolute;
      width: 0%;
      height: 0rem;
      margin: 0rem 0rem;
      transform: scale(0);
      opacity: 0;
    }

    100% {
      position: absolute;
      min-width: 8rem;
      height: auto;
      margin: 3rem 0 0rem 0;
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes ndd--close {
    0% {
      position: absolute;
      min-width: 8rem;
      height: auto;
      margin: 3rem auto 0rem auto;
      transform: scale(1);
      opacity: 1;
    }

    99%{
      position: absolute;
    }

    100% {
      position: relative;
      width: 0%;
      height: 0rem;
      margin: 0rem 0rem;
      transform: scale(0);
      opacity: 0;
    }
  }
  /*** END ndd--openClose animation ****/
}
/*---------------------728px-----------------------------*/
@media (min-width: 45.5rem) {
  .wrap-title_h1 {
    font-size: 2rem;
  }
}
/*-------------------------960 px-----------------------*/
@media (min-width: 60rem) {
  @keyframes ndd--open {
    0% {
      position: relative;
    }

    1% {
      position: absolute;
      width: 0%;
      height: 0rem;
      margin: 0rem 0rem;
      transform: scale(0);
      opacity: 0;
    }

    100% {
      position: absolute;
      width: inherit;
      height: auto;
      margin: 3rem auto 0rem auto;
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes ndd--close {
    0% {
      position: absolute;
      width: 100%;
      height: auto;
      margin: 3rem auto 0rem auto;
      transform: scale(1);
      opacity: 1;
    }

    99%{
      position: absolute;
    }

    100% {
      position: relative;
      width: 0%;
      height: 0rem;
      margin: 0rem 0rem;
      transform: scale(0);
      opacity: 0;
    }
  }
}
/*--------------------------------1328 px---------------*/
@media (min-width: 83rem) {
  .main-nav {
    max-width: 83rem;
  }
}